
USERS_DB_NAME=users_db
USERS_DB_USER=users_user
USERS_DB_PASSWORD=users_password


DOCUTESIS_DB_NAME=docutesis_db
DOCUTESIS_DB_USER=postgres
DOCUTESIS_DB_PASSWORD=postgrespassword


COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_XXXXXXXXX